<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/icon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="/css/main.css" />

    <title>Expense Tracker</title>
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <span class="material-symbols-outlined"> incomplete_circle </span
        >Expense Tracker
      </div>
      <div class="user-actions">
        <span id="login"><a href="login">Login</a></span>
        <span id="signup"><a href="signup">Sign up</a></span>
      </div>
    </div>
    <div class="blue">
      <div clas="img-overlay">
        <img src="/images/5260432.jpg" alt="intro-picture" />
      </div>
      <div class="overlay">
        <h1>Take Control of your Finances</h1>
        <p>
          Expense Tracker helps you manage your money, track your spending, and
          achieve your financial goals. It is the perfect app for anyone who
          wants to take control of their finances
        </p>
        <button class="signup-btn"><a href="/signup">Sign up</a></button>
        <button class="login-btn"><a href="/login">Login</a></button>
      </div>
    </div>
    <div></div>
    <script src="/js/main.js"></script>
  </body>
</html>
