@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}
.navbar {
  border-bottom: 1px solid #ccccccbf;
  padding: 10px 0;
  text-align: left;
  align-items: left;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar span {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.logo {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-div{
    display: flex;
    margin-left: 12rem;
    flex-direction: column;
    align-items:flex-start;
    width: 72rem;
    padding: 1.5rem;
    border-radius: 15px;
}

.form-control input {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: rgb(232, 233, 240);
    width:28rem;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
}

.form-div h2{
    font-size: 2rem;
}

.form-control select {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
    background-color: rgb(232, 233, 240);
    width: 32rem;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
}

.form-control label{
    display: block;
    font-weight:500;
}

.form-control button {
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 15px;
    width: 10rem;
    font-size: 1rem;
    background-color: rgb(31, 113, 195);
    color: white;
}
.form-control button:hover,.form-control button:active {
    cursor: pointer;
    background-color: rgb(38, 102, 166);
}

/* .form-action{
    width: 40rem;
    display: flex;
    justify-content: flex-end;
} */

.list-div{
  display: flex;
  margin-left: 12rem;
  flex-direction: column;
  align-items:flex-start;
  padding: 1.5rem;
}

.expense-list{
  list-style: none;
}