@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}
.navbar {
  border-bottom: 1px solid #ccccccbf;
  padding: 15px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  position: sticky;
}

.navbar span {
  margin-right: 1rem;
  font-size: 1.2rem;
  text-align: center;
}

.logo {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.form-div {
  display: flex;
  margin-left: 17rem;
  flex-direction: column;
  align-items: flex-start;
  width: 72rem;
  padding: 1.5rem;
  border-radius: 15px;
}

.form-control input {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: rgb(232, 233, 240);
  width: 28rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

.form-div h2 {
  font-size: 2rem;
}

.form-control select {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  background-color: rgb(232, 233, 240);
  width: 32rem;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

.form-control label {
  display: block;
  font-weight: 500;
}

.form-control button {
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 15px;
  width: 10rem;
  font-size: 1rem;
  background-color: rgb(31, 113, 195);
  color: white;
}
.form-control button:hover,
.form-control button:active {
  cursor: pointer;
  background-color: rgb(38, 102, 166);
}

.form-action {
  width: calc(100vw - 37rem);
  display: flex;
  justify-content: space-between;
}

#premium-btn {
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 15px;
  width: 11rem;
  font-size: 1rem;
  background-color: rgb(232, 233, 240);
  color: black;
  font-weight: bold;
  display: none;
}
#premium-btn:hover,
#premium-btn:active {
  cursor: pointer;
  background-color: rgb(219, 220, 231);
}

.list-div {
  display: flex;
  margin-left: 17rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
}

.list-header span {
  background-color: rgb(219, 220, 231);
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  display: none;
}

.list-header span:hover {
  cursor: pointer;
  background-color: rgb(207, 208, 226);
}

.list-header {
  width: calc(100vw - 37rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expense-list {
  list-style: none;
}

.expense-list li {
  margin-left: -2.5rem;
  /* margin-bottom: 2rem; */
  padding: 1.5rem 0;
  /* background-color: rgb(232, 233, 240); */
  /* width: 67rem; */
  width: calc(100vw - 37rem);
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.form-action {
  /* background-color: red; */
  width: calc(100vw - 37rem);
}

li:hover .deleteBtn {
  display: inline-block;
}

.icon {
  background-color: rgb(232, 233, 240);
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-right: 1rem;
}

.stacked {
  display: flex;
  flex-direction: column;
  margin-right: 22rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 500;
}

.category {
  color: rgb(92, 92, 92);
  font-size: 1.1rem;
}

.deleteBtn {
  position: absolute;
  right: 0;
  /* display: none; */
  background-color: white;
  color: rgb(78, 78, 78);
  border: none;
}
.deleteBtn:hover {
  cursor: pointer;
  color: red;
}
.deleteBtn:active {
  cursor: pointer;
  color: red;
}

#premium-badge {
  font-weight: 500;
  font-size: 0.7rem;
  margin-left: 0.5rem;
  text-align: center;
  color: rgb(31, 113, 195);
  border: 1px solid rgb(31, 113, 195);
  border-radius: 5px;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
  display: none;
}

#logout {
  position: absolute;
  right: 3rem;
  top: 1rem;
  font-size: 1rem;
}

#logout:hover {
  cursor: pointer;
  color: rgb(112, 112, 112);
}

#leader-btn {
  border: none;
  padding: 0.7rem 0rem;
  border-radius: 15px;
  width: 12rem;
  font-size: 0.9rem;
  background-color: rgb(232, 233, 240);
  color: black;
  font-weight: bold;
  display: none;
}

#leader-btn:hover {
  cursor: pointer;
  background-color: rgb(219, 220, 231);
}

.leader-div {
  display: flex;
  margin-left: 17rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  display: none;
}

.leader-list {
  list-style: none;
}

.leader-list li {
  margin-left: -2.5rem;
  width: calc(100vw - 37rem);
  margin-bottom: 2rem;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.3rem;
  font-weight: 500;
}

.expense {
  font-size: 1.3rem;
  font-weight: 500;
}

.number {
  background-color: rgb(232, 233, 240);
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-right: 1.5rem;
  font-weight: 500;
}

/* .leader-list li {
  margin-left: -2.5rem;
  margin-bottom: 2rem; 
  padding: 1.5rem 0;
   background-color: rgb(232, 233, 240); 
  width: 67rem; 
  width: calc(100vw - 37rem);
  border-radius: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}  */
